@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "IS Makes Me Beautiful";

}




<h1>Josh Miner</h1>

<img style="width: 300px" src="images/IMG_7640.jpeg" />

<br /><br />

<p>
    I am very excited for IS 413! I am excited to learn a new programming language (which is always fun), and I am
    excited to learn more skills!!! ASP.NET seems really cool, and I expect to do some pretty sweet assignments
    because Professor Hilton said this was going to be "BIG BOY PROGRAMMING". I guess we will see if the class
    lives up to the hype. I have learned a whole lot since entering the core and I am very excited for this semester!
</p>

<br /><br />

<h3>Top Three Jobs After Graduation:</h3>
<ol>
    <li>I want to be a web developer working in the skiing/biking industry.</li>
    <li>A Business tech consultant where I personally rewrite their systems for them.</li>
    <li>Work for a startup (either my own or a close friend's).</li>
</ol>

<br /><br />



